#about {
  background: var(--body-color);
}


#about .container {
  margin: 0 1rem;
}

.blog {
  padding: 1rem 0.8rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.30);
}

.blog p {
  text-align: -webkit-center;
  margin-bottom: 0;
}

#about h2.title {
  text-align: -webkit-center;
}

#about .text {
  margin-left: 0.8rem; 
  margin-right: 0.8rem; 
  text-align: left;
}

#about img {
  border-radius: 0.25rem;
}

#about h4 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--base-color);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul {
  list-style: disc;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section h1 {
  font-size: 2rem;
  font: 700 1.31rem 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 5rem;
  color: black;
}










.social i {
  font-size: 2rem;
  color: var(--base-color);
}

.social {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 0.8rem;
  gap: 1.5rem;
}

.social a{
  transition: .3s;
  display: inline-block;
}

.divider-2 {
  margin-top: 1.5rem;
}

.section {
  padding: calc(-1rem + var(--header-height)) 0;
}


@media (min-width: 1000px) {
  .container {
  max-width: 1000px;
  margin: auto;
  }

  .section {
    padding: 10rem 0;
  }

  #about .container {
  margin: auto;
}

  .blog p {
    text-align: justify;
  }








}


  
  
  
  
